.form-container{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
.form{
    padding-top: 20px;
    justify-content: center;
    align-items: center;

}
.form-group{
    color:black;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    display: flex;
   
    
}
.form-grp{
    color:black;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    display: flex;
   
    
}
.form-button{
    justify-content: center;
    align-items: center;
    display: flex;
}
.p {
    display: flex;
    justify-content: center;  /* Horizontal centering */
    align-items: center;      /* Vertical centering */
    margin-top: 20px;         /* Add some space from the form */
    text-align: center;
  }
  .sep {
    border: none;
    border-top: 1px solid #5f9759; /* Light gray color */
    margin: 10px 0; /* Adjust the spacing as needed */
  }
  .card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    width: 300px;
    height: px;
    margin: auto;
    text-align: center;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
  }

  
  